name: ✅Build Status Check
run-name: ✅Build Status Check (${{ github.base_ref }} branch)


defaults:
  run:
    shell: pwsh


on:
  pull_request:
    branches: main


jobs:
  build_status_check:
    name: Build Status Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Setup PNPM (${{ vars.PNPM_VERSION }})
      uses: pnpm/action-setup@v4
      with:
        version: ${{ vars.PNPM_VERSION }}

    - name: Setup Docusaurus
      run: pnpm install

    - name: Build
      run: pnpm build
